<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expresiones matemáticas con árboles</title>
</head>

<body>

    <form action="">
        <label for="expresion">Expresion matemática:</label>
        <input type="text" id="expresion" placeholder="6-3*5-9/3*2+8-3">


        <button type="button" id="calcular">Calcular</button>
    </form>

    <script src="/js/main.js" type="module"></script>
</body>

</html>